mixin button(text, classes)
  button.btn.mr-1.mb-2(type='button' class=classes)= text

mixin button_variant(text, variant)
  +button(text, 'btn-'+variant)

mixin button_outline(text, variant)
  +button(text, 'btn-outline-' + variant)

mixin button_glass(text, variant)
  +button(text, 'btn-glass-' + variant)

mixin button_3d(text, variant)
  +button(text, 'btn-3d-' + variant)

mixin button_size(text, size)
  +button(text, ['btn-secondary', 'btn-' + size])

mixin button_toggle(type, text)
  .btn-group.btn-group-toggle
    label.btn.btn-secondary.active(data-toggle=type + "-button")
      input(type=type name=type checked)
      span Active
    - for(var i = 1; i <= 2; i++)
      label.btn.btn-secondary(data-toggle=type + "-button")
        input(type=type name=type)
        span= text
