mixin dropdown_menu()
  .dropdown-menu
    - for(var i = 1; i <= 3; i++)
      = "\n\t"
      a.dropdown-item(href='#')= 'Menu item ' + i

mixin dropdown(text, classes)
  .btn-group(class=classes)
    button.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown")= text
    +dropdown_menu()

mixin dropdown_arrow(text, classes)
  .btn-group(class=classes)
    button.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown")= text
    .dropdown-menu
      .dropdown-arrow
      - for(var i = 1; i <= 3; i++)
        = "\n\t"
        a.dropdown-item(href='#')= 'Menu item ' + i

mixin dropdown_hover()
  .btn-group.dropdown.dropdown-hover
    button.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown" data-hover="dropdown") Hover
    +dropdown_menu()
