mixin example_head_title(componentName, exampleName)
  - var component = contents[componentName]
  - var example = component.examples[exampleName]
  title= component.name + ' ' + example.name.toLowerCase()

mixin example_meta_description(componentName, exampleName)
  - var component = contents[componentName]
  - var example = component.examples[exampleName]
  meta(name="description" content= example.description)

mixin example_breadcrumb(componentName)
  - var component = contents[componentName]
  nav(role="navigation")
    ol.breadcrumb.breadcrumb-light.breadcrumb-rsaquo.bg-transparent.p-0.mb-2.fs-2(itemscope itemtype="http://schema.org/BreadcrumbList")
      li.breadcrumb-item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
        a.breadcrumb-link(href='/' + pkg.name + '/' itemprop="item") #[span(itemprop="name") Home]
        meta(itemprop="position" content="1")
      li.breadcrumb-item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
        a.breadcrumb-link(href='/' + pkg.name + '/' + component.url + '/' itemprop="item") #[span(itemprop="name")= component.name]
        meta(itemprop="position" content="2")

mixin example_description(componentName, exampleName)
  - var component = contents[componentName]
  - var example = component.examples[exampleName]
  h1.h3.fw-400.example-title= component.name + ' ' + example.name.toLowerCase()
  p= example.description

mixin example_footer
  .card-footer&attributes(attributes)
    pre.pre-scrollable
      code.language-markup
        block

mixin component_head_title(componentName)
  - var component = contents[componentName]
  title= component.name

mixin component_meta_description(componentName)
  - var component = contents[componentName]
  meta(name="description" content= component.description)

mixin component_description(componentName)
  - var component = contents[componentName]
  h1.h3.fw-400.component-title= component.name
  p= component.description

mixin new_component_description(componentName)
  - var component = contents[componentName]
  .flex-y-center.mb-2
    h1.h3.fw-400.mb-0.mr-2= component.name
    span.badge.badge-success.text-uppercase New
  p= component.description

mixin example_card(componentName, component, example)
  - var url = '/' + pkg.name + '/' + component.url + '/' + example.url + '/'
  .col-6.d-flex.mb-gutter-md-3.mb-gutter-2
    .card.card-md-3.card-sm-2.card-1.w-100.border-hover-primary
      .card-body.d-flex.flex-column
        img.img-fluid.extension-image(
          src="/" + pkg.name + "/assets/img/component/" + componentName + "/" + example.image
          width="303px"
          alt=component.name + " " + example.name.toLowerCase()
        )
        a(
          class=[
            'extension-name',
            'card-title',
            'd-block',
            'fs-md-4',
            'fs-sm-3',
            'fs-2',
            'fw-500',
            'text-body',
            'text-hover-primary',
            'text-decoration-none',
            'stretched-link'
          ]
          href=url
        )= example.name
        p.card-text= example.description

mixin component_examples(componentName)
  - var component = contents[componentName]
  .row-md-2.row-1
    each example in component.examples
      +example_card(componentName, component, example)
