include variables.pug
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    title= title
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(name="author" content=pkg.author)

    link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    link(rel="icon" href="/favicon.ico")
    link(rel="manifest" href="/manifest.json")

    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet")
    link(rel="stylesheet" href="/assets/css/app.min.css")
  body.pt-navbar
    header.pb-gutter(role="banner")
      nav#navbar-top.navbar.navbar-expand-xs.navbar-light.bg-light.px-0.fixed-top(role="navigation")
        .container
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-collapse-top")
            span.navbar-toggler-icon
          a.navbar-brand(href="/" rel="home") #[span.rounded.py-1.text-white.font-weight-medium(style="background-color: #563d7c;padding-left: .6rem;padding-right: .6rem;") P]&nbsp;&nbsp;#[span= title]&nbsp;&nbsp;#[sup.text-success= pkg.version]

          #navbar-collapse-top.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item.dropdown.dropdown-hover
                a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" data-hover="dropdown") Version
                .dropdown-menu
                  a.dropdown-item(href='/' + pkg.version + '/')= pkg.version
              li.nav-item
                a.nav-link(href="/react/") React
            ul.navbar-nav
              li.nav-item
                a.nav-link(href=githubUrl + '/' + username + '/' + pkg.name) #[i.fab.fa-github-alt]&nbsp;&nbsp;GitHub
              li.nav-item
                a.nav-link(href="https://www.producthunt.com/posts/" + pkg.name) #[i.fab.fa-product-hunt]&nbsp;&nbsp;ProductHunt
            a.btn.btn-primary.btn-sm.ml-2(href=downloadUrl) Download

    .container
      .row
        .col-lg-2
          aside#sidebar-left.sidebar.sidebar-light.sidebar-expand-xs.py-0.position-fixed(role="complementary")
            include sidebar-left.pug
        main.col-lg-10(role="main")
          article(role="article")
            include main.pug

    script(src="/assets/js/app.min.js")
