extends ../example.pug

block example_title
  h3.fw-400 Tree

block example_description
  .alert.alert-primary This component requires #[b= pkg.name + '.js'] or #[b scrollspy-tree.js].

block example_result
  .row
    .col-lg-3
      #sidebar-scrollspy.sidebar.sidebar-light.bg-light.sidebar-expand
        ul.sidebar-nav.nav-tree.nav-y-2
          li.nav-item
            a.nav-link(href="#scrollspy-nav-item") Nav item
            ul.sidebar-nav.nav-tree.nav-y-2.fs-2.pl-3
              li.nav-item
                a.nav-link(href="#scrollspy-nav-subitem") Sub item
                ul.sidebar-nav.nav-tree.nav-y-2.fs-1.pl-3
                  - for(var i = 1; i <= 3; i++)
                    li.nav-item
                      a.nav-link(href="#scrollspy-nav-subitem" + i)= 'Sub item ' + i
          li.nav-item.dropright.dropdown-hover
            a.nav-link.dropdown-toggle(href="#scrollspy-dropdown" data-hover="dropdown") Dropdown
            .dropdown-menu
              - for(var i = 1; i <= 2; i++)
                a.dropdown-item(href="#scrollspy-dropdown-item" + i)= 'Menu item ' + i
              .dropright.dropdown-hover
                a.dropdown-item.dropdown-toggle(href="#scrollspy-dropdown-item3" data-hover="dropdown") Menu item 3
                .dropdown-menu
                  - for(var i = 1; i <= 3; i++)
                    a.dropdown-item(href="#scrollspy-dropdown-subitem" + i)= 'Sub item ' + i
    .col-lg-9(data-spy="scroll" data-target="#sidebar-scrollspy" style="overflow-y: scroll; max-height: 300px;")
      #scrollspy-nav-item
        h2 Nav item
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      #scrollspy-nav-subitem
        h2 Sub item
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      - for(var i = 1; i <= 3; i++)
        div(id="scrollspy-nav-subitem" + i)
          h2= 'Sub item ' + i
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      #scrollspy-dropdown
        h2 Dropdown
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      - for(var i = 1; i <= 3; i++)
        div(id="scrollspy-dropdown-item" + i)
          h2= 'Dropdown item ' + i
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      - for(var i = 1; i <= 3; i++)
        div(id="scrollspy-dropdown-subitem" + i)
          h2= 'Sub item ' + i
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

block example_code
  :encode-pug
    | <!-- Source -->
