include variables.pug
include mixins.pug
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    title PostBoot
    meta(name="description" content=pkg.description)
    meta(name="keywords" content="")

    meta(name="author" content=pkg.author)

    link(rel="icon" href="favicon.ico")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")

    link(rel="stylesheet" href="css/app.min.css")
  body(data-spy="scroll" data-target="#sidebar")
    header#header(role="banner")
      nav#navbar-top.navbar.navbar-light.navbar-toggleable-md.fixed-top.bg-faded(role="navigation")
        .container.mx-lg-auto.mx-0
          button.navbar-toggler.mr-3.mr-lg-0(type="button" data-toggle="collapse" data-target="#navbar-top-collapse")
            span.navbar-toggler-icon
          a.navbar-brand(href="#start") PostBoot #[sup.text-success.hidden-xs-down= pkg.version]
          a.btn.btn-primary.mr-lg-2(href=download) Download
          #navbar-top-collapse.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item: a.nav-link(href="#start") Start
              each section, id in contents
                li.nav-item.dropdown.dropdown-hover
                  a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" data-hover="dropdown")= section.title
                  .dropdown-menu(class={'dropdown-menu-scrolled': id == "components"})
                    each item, itemId in section.items
                      if !item.first
                        .dropdown-divider
                      h6.dropdown-header= item.title
                      each exampleName, exampleId in item.items
                        a.dropdown-item(href="#" + itemId + "-" + exampleId)= exampleName
            ul.navbar-nav
              li.nav-item: a.nav-link(href=repo) GitHub
              li.nav-item: a.nav-link.pr-0(href="https://www.producthunt.com/posts/postboot") ProductHunt

    .container
      .row
        .col-lg-2.col-md-3.hidden-sm-down
          aside#sidebar(role="complementary" style="position: fixed;")
            include sidebar.pug
        .col-lg-10.col-md-9
          main#main(role="main")
            include postboot.pug

    footer#footer(role="contentinfo")
      nav#navbar-bottom.navbar.navbar-inverse.navbar-toggleable-md.bg-inverse(role="navigation")
        .container
          button.navbar-toggler.navbar-toggler-right.hidden-lg-up(type="button" data-toggle="collapse" data-target="#navbar-bottom-collapse")
            span.navbar-toggler-icon
          #navbar-bottom-collapse.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item: a.nav-link.pl-0(href="https://creativecommons.org/licenses/by/4.0/") CC BY 4.0
            ul.navbar-nav
              li.nav-item: a.nav-link(href=repo) GitHub
              li.nav-item: a.nav-link.pr-0(href="https://www.producthunt.com/posts/postboot") ProductHunt

    script(src="js/app.min.js")
