extends ../example.pug

block example_title
  h4.fw-400 Hover opacity
  span.badge.badge-success.text-uppercase.mb-3 New

block example_body
  .card-body
    each text, variant in colors
      svg(
        class='fill-hover-' + variant + '-50'
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 32 32"
        width="32"
        height="32"
        stroke="currentcolor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      )
        path(d="M16 2 L20 12 30 12 22 19 25 30 16 23 7 30 10 19 2 12 12 12 Z")

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      - for(var i = 1; i <= 9; i++)
        div(class='fill-hover-' + variant + '-' + i * 10)
      = "\n"
