extends layout.pug

block head_title
  title= title

block meta_description
  meta(name="description" content=pkg.description)

block main
  h1.fw-400 PostBoot
  p.fs-4= pkg.description
  h2.fw-400 Who uses it
  p Designed for beginners and professional web developers for projects of any level of complexity using in combination with the Bootstrap framework.
  h2.fw-400 Why use it
  p.mb-gutter If you want to quickly prototype a web application using the Bootstrap framework and Postboot library, as well as support projects with long-term support.
  .d-inline-block
    .card.card-body.mb-gutter.border-hover-primary.text-hover-primary(style="width: 250px;")
      .flex-y-center.justify-content-between
        div
          a.mb-1.fs-4.fw-500.d-block.text-body.text-decoration-none.stretched-link.text-hover-primary(href=downloadUrl) Download
          .text-muted.fs-2 140 Kb
        svg.bi.bi-download(width="2rem" height="2rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd" d="M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8z" clip-rule="evenodd")
          path(fill-rule="evenodd" d="M5 7.5a.5.5 0 01.707 0L8 9.793 10.293 7.5a.5.5 0 11.707.707l-2.646 2.647a.5.5 0 01-.708 0L5 8.207A.5.5 0 015 7.5z" clip-rule="evenodd")
          path(fill-rule="evenodd" d="M8 1a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 1z" clip-rule="evenodd")
  .alert.alert-primary(role="alert")
    | Compatibility and dependency on Bootstrap #[b >= 4.5.0 and < 5.0].
  .alert.alert-success.mb-4(role="alert")
    | PostBoot does #[b not overwrite] any components of Bootstrap, but only extends most of them. You can use it completely #[b safe].
  #install
    h3.fw-400.mb-3 Installation
    #install-nodejs
      h4.fw-400 NodeJS
      .card.bg-light.mb-3
        .card-body
          pre
            code.language-bash
              ="npm install " + pkg.name
    #install-manually
      h4.fw-400 Manually
      p #[a(href=downloadUrl) Download] package and unpack it or use following commands:
      .card.bg-light.mb-3
        .card-body
          pre
            code.language-bash
              ="wget -O " + downloadUrl + "\n"
              ="unzip " + pkg.name + ".zip"
  #usage
    h3.fw-400 Usage
    #usage-local
      h4.fw-400 Local
      .card.bg-light.mb-3
        .card-body
          pre
            code.language-markup
              :encode-pug
                | <!-- CSS -->
                link(rel="stylesheet" href="css/bootstrap.min.css")
                link(rel="stylesheet" href="css/" + pkg.name + ".min.css")
                ="\n\n"
                | <!-- JS -->
                script(src="js/jquery.min.js")
                script(src="js/bootstrap.bundle.min.js")
                script(src="js/" + pkg.name + ".min.js")
    #usage-cdn
      h4.fw-400 CDN
      .card.bg-light.mb-3
        .card-body
          pre
            code.language-markup
              :encode-pug
                | <!-- CSS -->
                link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css")
                link(rel="stylesheet" href="https://cdn.rawgit.com/" + username + "/" + pkg.name + "/v" + pkg.version + "/dist/css/" + pkg.name + ".min.css")
                ="\n\n"
                | <!-- JS -->
                script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
                script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js")
                script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js")
                script(src="https://cdn.rawgit.com/" + username + "/" + pkg.name + "/v" + pkg.version + "/dist/js/" + pkg.name + ".min.js")
  #requirements
    h3.fw-400.mb-3 Requirements
    #requirements-css
      h4.fw-400 CSS
      .card.mb-3
        table.table.table-bordered.table-striped.card-table.mb-0
          thead
            tr
              th(scope="col") File
              th(scope="col") Requirement
          tbody
            tr
              td postboot.css
              td bootstrap.css
            tr
              td postboot-grid.css
              td bootstrap-grid.css
            tr
              td postboot-light.css
              td bootstrap.css
      #requirements-css-js
        p List of css components that requires  #[b= pkg.name + '.js']:
        ul
          li: a(href="/" + pkg.name + "/dropdown/hover/") Dropdown hover
          li: a(href="/" + pkg.name + "/dropdown/mega-menu/") Dropdown mega menu
          li: a(href="/" + pkg.name + "/scrollspy/tree/") ScrollSpy tree
    #requirements-js
      h4.fw-400 JS
      .card.mb-3
        table.table.table-bordered.table-striped.card-table.mb-0
          thead
            tr
              th(scope="col") File
              th(scope="col") Requirement
          tbody
            tr
              td postboot.js
              td bootstrap.js
            tr
              td dropdown-hover.js
              td dropdown.js
            tr
              td dropdown-mega.js
              td dropdown.js
            tr
              td scrollspy-tree.js
              td scrollspy.js

block sidebar_right
  ul.sidebar-nav.nav-tree.nav-tabs.nav-tabs-material.nav-tabs-right.nav-y-2.fs-2
    li.nav-item
      a.nav-link(href="#install") Install
      ul.sidebar-nav.nav-tree.nav-tabs.nav-tabs-material.nav-tabs-right.nav-x-5.nav-y-2.fs-1
        li.nav-item
          a.nav-link(href="#install-nodejs") NodeJS
        li.nav-item
          a.nav-link(href="#install-manually") Manually
    li.nav-item
      a.nav-link(href="#usage") Usage
      ul.sidebar-nav.nav-tree.nav-tabs.nav-tabs-material.nav-tabs-right.nav-x-5.nav-y-2.fs-1
        li.nav-item
          a.nav-link(href="#usage-local") Local
        li.nav-item
          a.nav-link(href="#usage-cdn") CDN
    li.nav-item
      a.nav-link(href="#requirements") Requirements
      ul.sidebar-nav.nav-tree.nav-tabs.nav-tabs-material.nav-tabs-right.nav-x-5.nav-y-2.fs-1
        li.nav-item
          a.nav-link(href="#requirements") CSS
        li.nav-item
          a.nav-link(href="#requirements") JS
