extends layout.pug

block head_title
  title= title

block meta_description
  meta(name="description" content=pkg.description)

block main
  h1.fw-400 PostBoot
  p.fs-4.mb-gutter= pkg.description
  .row
    .col-md-4.mb-gutter
      svg.bi.bi-grid-1x2-fill.mb-4.text-secondary(width="4rem" height="4rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
        path(d="M0 1a1 1 0 011-1h5a1 1 0 011 1v14a1 1 0 01-1 1H1a1 1 0 01-1-1V1zm9 0a1 1 0 011-1h5a1 1 0 011 1v5a1 1 0 01-1 1h-5a1 1 0 01-1-1V1zm0 9a1 1 0 011-1h5a1 1 0 011 1v5a1 1 0 01-1 1h-5a1 1 0 01-1-1v-5z")
      p.mb-0 Flexible adaptive sizes of many Bootstrap components
    .col-md-4.mb-gutter
      svg.bi.bi-circle-half.mb-4.text-success(width="4rem" height="4rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd" d="M8 15V1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd")
      p.mb-0 An increase in the color palette of components
    .col-md-4.mb-gutter
      svg.bi.bi-arrow-left-right.mb-4(width="4rem" height="4rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd" d="M10.146 7.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 11l-2.647-2.646a.5.5 0 010-.708z" clip-rule="evenodd")
        path(fill-rule="evenodd" d="M2 11a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 11zm3.854-9.354a.5.5 0 010 .708L3.207 5l2.647 2.646a.5.5 0 11-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd")
        path(fill-rule="evenodd" d="M2.5 5a.5.5 0 01.5-.5h10.5a.5.5 0 010 1H3a.5.5 0 01-.5-.5z" clip-rule="evenodd")
      p.mb-0 Additional component positions
  .d-inline-block
    .card.card-body.mb-gutter.border-hover-primary.text-hover-primary(style="width: 250px;")
      .flex-y-center.justify-content-between
        div
          a.mb-1.fs-4.fw-500.d-block.text-body.text-decoration-none.stretched-link.text-hover-primary(href=downloadUrl) Download
          .text-muted.fs-2 140 Kb
        svg.bi.bi-file-arrow-down.d-none(width="2rem" height="2rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd" d="M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z" clip-rule="evenodd")
          path(fill-rule="evenodd" d="M4.646 8.146a.5.5 0 01.708 0L8 10.793l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd")
          path(fill-rule="evenodd" d="M8 4a.5.5 0 01.5.5v6a.5.5 0 01-1 0v-6A.5.5 0 018 4z" clip-rule="evenodd")
        svg.bi.bi-download(width="2rem" height="2rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd" d="M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8z" clip-rule="evenodd")
          path(fill-rule="evenodd" d="M5 7.5a.5.5 0 01.707 0L8 9.793 10.293 7.5a.5.5 0 11.707.707l-2.646 2.647a.5.5 0 01-.708 0L5 8.207A.5.5 0 015 7.5z" clip-rule="evenodd")
          path(fill-rule="evenodd" d="M8 1a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 1z" clip-rule="evenodd")
  .alert.alert-primary(role="alert")
    | Compatibility and dependency on Bootstrap #[b v4.5.0].
  .alert.alert-success.mb-4(role="alert")
    | PostBoot does #[b not overwrite] any components of Bootstrap, but only extends most of them. You can use it completely #[b safe].
  #install
    h3.fw-400.mb-3 Installation
    #install-nodejs
      h4.fw-400 NodeJS
      .card.bg-light.mb-3
        .card-body
          pre
            code.language-bash
              ="npm install " + pkg.name + "@" + pkg.version
    #install-manually
      h4.fw-400 Manually
      p #[a(href=downloadUrl) Download] package and unpack it or use following commands:
      .card.bg-light.mb-3
        .card-body
          pre
            code.language-bash
              ="wget -O " + downloadUrl + "\n"
              ="unzip " + pkg.name + "-" + pkg.version + ".zip"
  #usage
    h3.fw-400 Usage
    #usage-local
      h4.fw-400 Local
      .card.bg-light.mb-3
        .card-body
          pre
            code.language-markup
              :encode-pug
                | <!-- CSS -->
                link(rel="stylesheet" href="css/bootstrap.min.css")
                link(rel="stylesheet" href="css/" + pkg.name + ".min.css")
                ="\n\n"
                | <!-- JS -->
                script(src="js/jquery.min.js")
                script(src="js/bootstrap.bundle.min.js")
                script(src="js/" + pkg.name + ".min.js")
    #usage-cdn
      h4.fw-400 CDN
      .card.bg-light.mb-3
        .card-body
          pre
            code.language-markup
              :encode-pug
                | <!-- CSS -->
                link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
                link(rel="stylesheet" href="https://cdn.rawgit.com/" + username + "/" + pkg.name + "/v" + pkg.version + "/dist/css/" + pkg.name + ".min.css")
                ="\n\n"
                | <!-- JS -->
                script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
                script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
                script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js")
                script(src="https://cdn.rawgit.com/" + username + "/" + pkg.name + "/v" + pkg.version + "/dist/js/" + pkg.name + ".min.js")
  #requirements
    h3.fw-400.mb-3 Requirements
    #requirements-css
      h4.fw-400 CSS
      .card.mb-3
        table.table.table-bordered.table-striped.card-table.mb-0
          thead
            tr
              th(scope="col") File
              th(scope="col") Requirement
          tbody
            tr
              td postboot.css
              td bootstrap.css
            tr
              td postboot-grid.css
              td bootstrap-grid.css
            tr
              td postboot-light.css
              td bootstrap.css
      #requirements-css-js
        p List of css components that requires  #[b= pkg.name + '.js']:
        ul
          li: a(href="/" + pkg.name + "/dropdown/hover/") Dropdown hover
          li: a(href="/" + pkg.name + "/dropdown/mega-menu/") Dropdown mega menu
          li: a(href="/" + pkg.name + "/scrollspy/tree/") ScrollSpy tree
    #requirements-js
      h4.fw-400 JS
      .card.mb-3
        table.table.table-bordered.table-striped.card-table.mb-0
          thead
            tr
              th(scope="col") File
              th(scope="col") Requirement
          tbody
            tr
              td postboot.js
              td bootstrap.js
            tr
              td dropdown-hover.js
              td dropdown.js
            tr
              td dropdown-mega.js
              td dropdown.js
            tr
              td scrollspy-tree.js
              td scrollspy.js

block sidebar_right
  ul.sidebar-nav.nav-tree.nav-tabs.nav-tabs-material.nav-tabs-right.nav-y-2.fs-2
    li.nav-item
      a.nav-link(href="#install") Install
      ul.sidebar-nav.nav-tree.nav-tabs.nav-tabs-material.nav-tabs-right.nav-x-5.nav-y-2.fs-1
        li.nav-item
          a.nav-link(href="#install-nodejs") NodeJS
        li.nav-item
          a.nav-link(href="#install-manually") Manually
    li.nav-item
      a.nav-link(href="#usage") Usage
      ul.sidebar-nav.nav-tree.nav-tabs.nav-tabs-material.nav-tabs-right.nav-x-5.nav-y-2.fs-1
        li.nav-item
          a.nav-link(href="#usage-local") Local
        li.nav-item
          a.nav-link(href="#usage-cdn") CDN
    li.nav-item
      a.nav-link(href="#requirements") Requirements
      ul.sidebar-nav.nav-tree.nav-tabs.nav-tabs-material.nav-tabs-right.nav-x-5.nav-y-2.fs-1
        li.nav-item
          a.nav-link(href="#requirements") CSS
        li.nav-item
          a.nav-link(href="#requirements") JS
